.App {
  text-align: center;
}

.progress-wrapper {
  position: relative;
  height: 3rem;
}

.progress-wrapper:not(:last-child) {
  margin-bottom: 3rem;
}

.progress-value {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  font-size: calc(1rem / 1.5);
  line-height: 1rem;
  font-weight: bold;
}
.progress.is-large + .progress-value {
  font-size: calc(1.5rem / 1.5);
  line-height: 1.5rem;
}

@media only screen and (max-width: 600px) {
  .progress.is-large + .progress-value {
    font-size: 12px;
    top: 0;
  }
}

.progress::-webkit-progress-value {
  transition: width 0.5s ease;
}

.progress.is-large {
  height: 100%;
}

.progress.is-selected {
  box-shadow: 0 0 3pt 2pt red;
}

.card {
  border: 1px solid black;
  margin-top: 5rem;
  margin-bottom: 2rem;
  padding: 2.5rem;
}
